body {
    margin: 0;
}

.header {
    width: 100vw;
    height: 25vh;
    background: #D9D9D9;
}

.main {
    width: 100vw;
    height: 30vh;
    background: #BAB5B5;
}

.section {
    width: 60vw;
    height: 30vh;
    background: #989595;
    color: #FFFFFF;
}

.article {
    width: 40vw;
    height: 30vh;
    background: #716B6B;
    color: #FFFFFF;
}

.footer {
    width: 100vw;
    height: 15vh;
    background: #D9D9D9;
}

.box {
    display: flex;

}

.box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;

}